In [1]:
# Data processing
# ==============================================================================
import numpy as np
import pandas as pd
import yfinance as yf
import datetime


# Plots
# ==============================================================================
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
import plotly.express as px
plt.style.use('fivethirtyeight')
plt.rcParams['lines.linewidth'] = 1.5
%matplotlib inline

# Modelling and Forecasting
# ==============================================================================
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.ForecasterAutoregMultiOutput import ForecasterAutoregMultiOutput
from skforecast.model_selection import grid_search_forecaster
from skforecast.model_selection import backtesting_forecaster

from joblib import dump, load

# Configuration
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

https://www.cienciadedatos.net/documentos/py39-forecasting-time-series-with-skforecast-xgboost-lightgbm-catboost.html

In [3]:
def get_data(ticker):
    if type(ticker) == str:
        ticker_tmp = str(ticker)
        start = str(datetime.date(2000, 1, 1))
        end = str(datetime.date.today())
        stock = yf.download(ticker_tmp, start=start, end=end, interval="1D")
        stock = stock.reset_index()
        return stock
    else:
        return 'None'

In [7]:
get_data('GC=F')

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-08-30,273.899994,273.899994,273.899994,273.899994,273.899994,0
1,2000-08-31,274.799988,278.299988,274.799988,278.299988,278.299988,0
2,2000-09-01,277.000000,277.000000,277.000000,277.000000,277.000000,0
3,2000-09-05,275.799988,275.799988,275.799988,275.799988,275.799988,2
4,2000-09-06,274.200012,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...
5609,2023-01-09,1867.000000,1880.000000,1867.000000,1872.699951,1872.699951,62
5610,2023-01-10,1877.800049,1878.099976,1871.599976,1871.599976,1871.599976,101
5611,2023-01-11,1873.099976,1877.800049,1873.099976,1874.599976,1874.599976,1236
5612,2023-01-12,1877.199951,1897.400024,1877.199951,1895.500000,1895.500000,59
5613,2023-01-13,1899.000000,1920.900024,1898.300049,1918.400024,1918.400024,59